body {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    overflow: hidden;
}
*:focus{
    outline: none;
}
img {
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0;
}

.clear{
    clear:both;
}
/* Tooltip 顏色 */
.tooltip-inner {
    background-color: rgba(0,0,0,0.8);
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before{
    border-top-color:rgba(0,0,0,0.8);
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color:rgba(0,0,0,0.8);
}
.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before{
    border-left-color:rgba(0,0,0,0.8);
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before{
    border-right-color:rgba(0,0,0,0.8);
}
/* 回到最上 */
.back-top{
    display: block;
}
.back-top img{
    width: 24.29px;
    height: 15px;
    cursor: pointer;
}
.back-top:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
.mobile-backtop{
    display: none;
    position: fixed;
    right:15px;
    bottom: 55px;
    z-index: 3;
    cursor: pointer;
}
.mobile-backtop img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.desktop-icon{
    display: block;
}
.mobile-icon{
    display: none;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100vh;
    padding: 60px 0;
    background-color: #00A0F0;
    box-sizing: border-box;
    font-size: 40px;
    color: #929292;
    z-index: 5;
}
.navbar-icon{
    cursor: pointer;
}
.navbar-icon img.desktop-icon{
    display: block;
    width: 50px;
    height: 35px;
}
.navbar-icon img.mobile-icon{
    display: none;
}
.navbar-off{
    display: none;
}
.navbar-icon:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
.page_dot > ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.page_dot > ul > a > li{
    position: relative;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.page_dot > ul > a > li:hover{
    filter: drop-shadow(2px 2px 4px rgba(90, 90, 90, 0.3));
}
.page_dot > ul > a.active > li{
    background-color: transparent;
}
/* .page_dot > ul > a > li:not(:last-child){
    margin-bottom: 20px;
} */
.page_dot > ul > a > li{
    margin-bottom: 20px;
}
/* .page_dot > ul > a > li:not(:last-child)::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
    top:100%;
    left:50%;
    transform: translateX(-50%);
} */
.page_dot > ul > a > li::after{
    content:'';
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: white;
    top:calc(100% + 2px);
    left:50%;
    transform: translateX(-50%);
}
.page_dot > ul > a:nth-last-child(1) > li::after{
    display: none;
}
.social {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fb img.desktop-icon {
    width: 25.94px;
    height: 50px;
    margin-bottom: 28.6px;
}

.youtube img.desktop-icon {
    width: 45px;
    height: 31.5px;
}
.fb img.mobile-icon {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.youtube img.mobile-icon {
    width: 20px;
    height: 20px;
}
.social .fb:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
.social .youtube:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
/***nav content***/
.nav_content{
    width: 455px;
    height: 100vh;
    position: fixed;;
    left: -355px;
    top:0;
    /*left: 100px;*/
    background-color: #5A5A5A;
    box-sizing: border-box;
    padding: 60px 70px 0 70px;
    z-index: 4;
}
.nav_content.active{
    left: 100px;
    filter: drop-shadow(2px 0px 10px rgba(90,90,90,.5));
}
.search_box{
    width: 315px;
    height: 40px;
    border: 2px solid #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px;
}
.search_box input{
    border: none;
    width: 100%;
    padding-right: 8px;
    background-color: transparent;
    color:white;
    font-size: 18px;
    box-sizing: border-box;
}
.search_box input:focus{
    outline: none;
}
.type{
    font-size: 24px;
    color:rgba(255,255,255,0.3);
    letter-spacing: 1.9px;
}
.type p.active{
    color:rgba(255,255,255,1);
}
.type p.active:hover{
    color:rgba(255,255,255,0.8);
}
.line_w{
    background-color: #fff;
    height: 2px;
    border:0;
    margin: 18px 0;
}
.type_select p{
    margin-bottom: 9px;
    cursor: pointer;
}
.type_select_last{
    margin: 0;
}
.search_icon{
    width: 20px;
}
@media screen and (max-width: 767px){
    .nav{
        width: 100%;
        height: 40px;
        padding: 0;
        flex-flow: row;
        justify-content: space-between;
    }
    .navbar-icon{
        height: 100%;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_content{
        width: 100%;
        left:-100%;
        z-index: 5;
        padding:80px 17.1875% 0 17.1875%;
    }
    .nav_content.active{
        left:0;
    }
    .navbar-icon img.desktop-icon{
        display: none;
    }
    .navbar-icon img.mobile-icon{
        display: block;
        width: 25px;
        height: 20px;
    }
    .navbar-off{
        display: block;
        position: absolute;
        top:10px;
        left:15px;
        cursor: pointer;
    }
    .navbar-off img{
        width: 25px;
    }
    .back-top{
        display: none;
    }
    .mobile-backtop{
        display: block;
    }
    .social{
        flex-direction: row;
        margin-right: 15px;
    }
    .desktop-icon{
        display: none;
    }
    .mobile-icon{
        display: block;
    }
    .search_box{
        width: 100%;
        height: 25px;
        padding: 5px;
        border:1px solid white;
    }
    .search_box input{
        font-size: 11px;
    }
    .search_icon{
        width: 15px;
    }
    .type{
        font-size: 16px;
    }
    .line_w{
        height: 1px;
    }
}