body {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    overflow: hidden;
}

/* img {
    display: block;
} */

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100vh;
    padding: 60px 0;
    background-color: #00A0F0;
    box-sizing: border-box;
    font-size: 40px;
    color: #929292;
    z-index: 5;
}
.nav img{
    display: block;
}
.navbar{
    cursor: pointer;
}
.navbar:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
.page_dot > ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.page_dot > ul > a > li{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.page_dot > ul > a > li.active{
    background-color: transparent;
}
/* .page_dot > ul > a > li:not(:last-child){
    margin-bottom: 20px;
} */
.page_dot > ul > a > li{
    margin-bottom: 20px;
}
/* .page_dot > ul > a > li:not(:last-child)::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
    top:100%;
    left:50%;
    transform: translateX(-50%);
} */
.page_dot > ul > a > li::after{
    content:'';
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: white;
    top:calc(100% + 2px);
    left:50%;
    transform: translateX(-50%);
}
.page_dot > ul > a:nth-last-child(1) > li::after{
    display: none;
}
.youtube{
    margin-bottom: 20px;
}
.social:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,0.3));
}
/***nav content***/
.nav_content{
    width: 455px;
    height: 100vh;
    position: fixed;;
    left: -355px;
    top:0;
    /*left: 100px;*/
    background : linear-gradient(-45deg, rgba(120, 120, 120, 1) 0%, rgba(107, 107, 107, 1) 26.33%, rgba(94, 94, 94, 1) 63.78%, rgba(90, 90, 90, 1) 100%);
    box-sizing: border-box;
    padding: 60px 70px 0 70px;
    z-index: 4;
    transition:0.5s linear;
}
.nav_content.active{
    left: 100px;
    filter: drop-shadow(2px 0px 10px rgba(90,90,90,.8));
}
.search_box{
    width: 315px;
    height: 40px;
    border: 2px solid #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px;
}
.search_box p{
    /* font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px; */
    color: rgba(255,255,255,.3);
    /* letter-spacing: 1.5px; */
    font-size: 18px;
    font-family: MicrosoftJhengHeiRegular, Microsoft JhengHei;
    /* letter-spacing: 0.1em; */
}
.type{
    font-size: 24px;
    color:#fff;
    letter-spacing: 1.9px;
}
.line_w{
    background-color: #fff;
    height: 2px;
    border:0;
    margin: 18px 0;
}
.type_select p{
    margin-bottom: 9px;
    cursor: pointer;
}
.type_select_last{
    margin: 0;
}
.type p:hover{
    opacity: .8;
}
.type p:active,
.type p.active{
    color: #FFDC78;
    opacity: 1;
}
.search_icon{
    width: 20px;
}
@media screen and (max-width: 767px){
    .search_box{
        width: 100%;
        height: 25px;
        padding: 5px;
        border:1px solid white;
    }
    .search_box p{
        font-size: 11px;
        line-height: 13px;
    }
    .search_icon{
        width: 15px;
    }
    .type{
        font-size: 16px;
    }
    .line_w{
        height: 1px;
    }
}