body {
    margin: 0;
    padding: 0;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
    overflow: hidden;
}

/* img {
    display: block;
} */

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100vh;
    padding: 60px 0;
    background : linear-gradient(315deg, rgba(20, 150, 250, 1) 0%, rgba(27, 154, 250, 1) 3.14%, rgba(64, 174, 252, 1) 22.89%, rgba(93, 190, 253, 1) 42.66%, rgba(113, 201, 254, 1) 62.2%, rgba(126, 208, 255, 1) 81.44%, rgba(130, 210, 255, 1) 100%);
    box-sizing: border-box;
    font-size: 40px;
    color: #929292;
    z-index: 5;
}
.nav img{
    display: block;
}
.navbar{
    cursor: pointer;
}
.navbar:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,.1));
}
.navbar img:active{
    opacity: .8;
}
.page_dot > ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.page_dot > ul > a > li{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}
.page_dot > ul > a > li:hover{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,.2));
}
.page_dot > ul > a > li.active{
    background : linear-gradient(-45deg, rgba(255, 220, 120, 1) 0%, rgba(255, 228, 152, 1) 12.83%, rgba(255, 238, 189, 1) 30.59%, rgba(255, 245, 218, 1) 48.38%, rgba(255, 251, 238, 1) 65.97%, rgba(255, 254, 251, 1) 83.29%, rgba(255, 255, 255, 1) 100%);
}
/* .page_dot > ul > a > li:not(:last-child){
    margin-bottom: 20px;
} */
.page_dot > ul > a > li{
    margin-bottom: 20px;
}
/* .page_dot > ul > a > li:not(:last-child)::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
    top:100%;
    left:50%;
    transform: translateX(-50%);
} */
.page_dot > ul > a > li::after{
    content:'';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
    top:100%;
    left:50%;
    transform: translateX(-50%);
}
.page_dot > ul > a:nth-last-child(1) > li::after{
    display: none;
}
.youtube{
    margin-bottom: 20px;
}
.youtube:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,.2));
}
.youtube img:active{
    opacity: .9;
}
.fb:hover img{
    filter: drop-shadow(2px 2px 4px rgba(90,90,90,.2));
}
.fb img:active{
    opacity: .9;
}
/***nav content***/
.nav_content{
    width: 455px;
    height: 100vh;
    position: fixed;;
    left: -355px;
    top:0;
    /*left: 100px;*/
    background : linear-gradient(-45deg, rgba(120, 120, 120, 1) 0%, rgba(107, 107, 107, 1) 26.33%, rgba(94, 94, 94, 1) 63.78%, rgba(90, 90, 90, 1) 100%);
    box-sizing: border-box;
    padding: 60px 70px 0 70px;
    z-index: 4;
    transition:.5s;
}
.nav_content.active{
    left: 100px;
    filter: drop-shadow(2px 0px 10px rgba(90,90,90,.8));
}
.search_box{
    width: 315px;
    height: 40px;
    border: 2px solid #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 8px;
}
.search_box p{
    /* font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.8px; */
    color: rgba(255,255,255,.3);
    /* letter-spacing: 1.5px; */
    font-size: 18px;
    font-family: MicrosoftJhengHeiRegular, Microsoft JhengHei;
    /* letter-spacing: 0.1em; */
}
.type{
    font-size: 24px;
    color:#fff;
    letter-spacing: 1.9px;
}
.line_w{
    background-color: #fff;
    height: 2px;
    border:0;
    margin: 18px 0;
}
.type_select p{
    margin-bottom: 9px;
    cursor: pointer;
}
.type_select_last{
    margin: 0;
}
.type p:hover{
    opacity: .8;
}
.type p:active,
.type p.active{
    color: #FFDC78;
    opacity: 1;
}
.search_icon{
    width: 20px;
}
@media screen and (max-width: 767px){
    .search_box{
        width: 100%;
        height: 25px;
        padding: 5px;
        border:1px solid white;
    }
    .search_box p{
        font-size: 11px;
        line-height: 13px;
    }
    .search_icon{
        width: 15px;
    }
    .type{
        font-size: 16px;
    }
}